@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Scrollbar customization */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #6fa6ff;
}

::-webkit-scrollbar-thumb:hover {
  background: #4788ff;
}

/* Background animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
}
