/* Custom scrollbar styles for WebKit browsers */
.scrollbar-custom::-webkit-scrollbar {
  height: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 5px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}

/* Custom scrollbar styles for Firefox */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}
